requests~=2.25.1
prettytable~=2.1.0
pillow
psutil
git+https://github.com/Rapptz/discord.py
numexpr
flask==2.0.0
git+https://github.com/AwesomeSam9523/requests-oauthlib
Click==7.0
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug